<%- include('./partial/header',{title : "Register Page"}) %>
<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">Commercial Vaccine</a>
            <div>
                <a class="btn btn-outline-success" href="/user/register">Register</a>
            </div>
        </div>
    </nav>
    <div class="mt-4 container">
    <h1 class="text-center">Login</h1><br>
    <form action="/user/login" method="POST">
        <label class="form-label">Email</label><br>
        <input class="form-control" type="email" name="email"><br>
        <label class="form-label">Password</label><br>
        <input type="password" name="password" class="form-control"><br><br>
        <input class="btn btn-primary" type="submit" value="Login">
    </form>
    </div>
</body>
</html>