<%- include('./partial/header',{title : "Register Page"}) %>
<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">Commercial Vaccine</a>
            <div>
                <a class="btn btn-outline-primary" href="/user/login">Login</a>
            </div>
        </div>
    </nav>
    <div class="container mt-4">
        <h1 class="text-center">Register</h1><br>
        <form action="/user/register" method="POST">
            <label class="form-label">Name</label><br>
            <input class="form-control" type="text" name="name"><br>
            <label class="form-label">Email</label><br>
            <input class="form-control" type="email" name="email"><br>
            <label class="form-label">Password</label><br>
            <input class="form-control" type="password" name="password"><br><br>
            <select class="form-select" name="cityId">
                <option value="" selected>-- Kota --</option>
                <% data.forEach(el => { %>
                    <option value="<%=el.id%>"><%=el.city_name%></option>
                <%})%>
            </select><br><br>
            <input class=" btn btn-primary" type="submit" value="Register">
        </form>
    </div>
</body>
</html>