<nav class="navbar navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">Commercial Vaccine</a>
        <div>
            <a class="btn btn-outline-primary" href="/user/login">Login</a>
            <a class="btn btn-outline-success" href="/user/register">Register</a>
        </div>
    </div>
</nav>